body {
	font-family: 'Oswald', sans-serif;
	color: #A9CF54;
	font-weight: 300;
	background-color: #939292;
	padding-top: 90px;
}

p {
	color: white;
}

.navbar {
	border-radius: 0;
	border-bottom: 5px solid #FF00FF;
	background-color: #646464;
	min-height: 70px;
	vertical-align: middle;
	line-height: 70px;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #04BFBF;
	font-size: 36px;
	text-transform: lowercase;
	line-height: 70px;
	height: 70px;
}

.navbar-header a hgroup .text-super {
	color: #04BFBF;
}

.navbar-header a:hover hgroup .text-super {
	color: #FFF;
}

.text-super {
	color: #04BFBF;
	font-weight: 700;
	text-transform: lowercase;
}

.text-sub {
	color: #CAFCD8;
	text-transform: lowercase;
	font-weight: 500;
}

.text-yellow {
	color: #F7E967;
}

/* unvisited link */
a:link {
    color: #A9CF54;
}

/* visited link */
a:visited {
    color: #588F27;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #A9CF54;
}

.projectbox {
	border: 10px solid #747474;
	margin-top: 15px;
}

.footer {
	border-top: 5px solid #FF00FF;
	background-color: #646464;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 50px;
}

.about {
	font-size: 16px;
}

label {
	font-weight: normal;
	font-size: 16px;
	color: #F7E967;
}
.contact-icon {
	margin-right: 15px;
}

a i {
	color: white;
	margin-right: 10px;
}

a:hover i {
	color: #ccc;
}


@media only screen and (max-width: 750px) {
	.text-super {
		font-size: 24px;
	}

	.text-sub {
		font-size: 24px;
	}

	.navbar {
		min-height: 50px;
	}

	.navbar-brand {
		line-height: 50px;
		height: 50px;
	}

	.logo img {
		width: auto;
		height: auto;
	}
}

@media only screen and (max-width: 520px) {
	.text-sub {
		display: none;
	}
}

.portfolio {
		float: left;
		position: relative;
		width: 100%;
	}

		.portfolio article {
			background: #d0d0d0;
			border: 1px solid #b9b9b9;
			border-radius: 5px;
			float: left;
			margin: 0 0 30px 30px;
			overflow: hidden;
			padding: 9px;
			position: relative;
				transition: all 0.2s ease-in;
					-webkit-transition: all 0.1s ease-in;
					-moz-transition: all 0.1s ease-in;
					-o-transition: all 0.1s ease-in;
			width: 350px;
			height: 300px;
		}

			.portfolio article:nth-child(3n+1) {
				clear: left;
				margin-left: 0;
			}

			.portfolio article header {

				position: relative;
				width: 330px;
				height: 280px;
				z-index: 2;
			}

			.portfolio article header .details {
				background: #454545;
				background: rgba(80,80,80,0.9);
				padding: 15px 0;
				position: absolute;
					top: 290px;
					left: 0;
				text-align: center;
				transition: all 0.2s ease-in;
					-webkit-transition: all 0.1s ease-in;
					-moz-transition: all 0.1s ease-in;
					-o-transition: all 0.1s ease-in;
				width: 330px;
					height: 100px;
			}

				.portfolio article header h1 {
					color: white;
					font-size: 24px;
					line-height: 25px;
					margin-bottom: 5px;
					margin-top: 0;
				}

				.portfolio article header p,
				.portfolio article header p a {
					color: white;
					font-size: 14px;
					line-height: 14px;
				}

			.portfolio article img {
				border-radius: 5px;
				position: absolute;
					top: 9px;
					left: 9px;
			}

				.portfolio article .clr {
					opacity: 0;
					z-index: 1;
					transition: all 0.2s ease-in;
						-webkit-transition: all 0.2s ease-in;
						-moz-transition: all 0.2s ease-in;
						-o-transition: all 0.2s ease-in;
				}

			.portfolio article:hover {
				background: #454545;
				border: 1px solid #454545;
			}

				.portfolio article:hover header .details {
					top: 192px;
				}

				.portfolio article:hover .clr {
					opacity: 1;
				}
